# data formats
*.log
*.out
*.blg
*.bcf
*.bbl
*.aux
*run.xml
*.synctex.gz
*.xlsx
*.html

# folders
PsychoPy/
manuscript/
legacy/
code/misc/
data/raw/study_1/
data/raw/study_2/
data/raw/problems/
fits/*.rds
fits.7z

# misc
.Rproj.user
.Rhistory
.RData
.Ruserdata
